In [2]:
string="Dr. APJ Abdul Kalam was a scientist, teacher and the President of India."
import re
rep_text=re.sub("[, .]", ":",string)
print(rep_text)

Dr::APJ:Abdul:Kalam:was:a:scientist::teacher:and:the:President:of:India:

In [ ]:
#3rd Answer

In [3]:
str2= "Dr. APJ Abdul Kalam was a scientist, teacher and the President of India."
string_pattern= r"\w{4}"
regex_pattern= re.compile(string_pattern)
result=regex_pattern.findall(str2)
print(result)

['Abdu', 'Kala', 'scie', 'ntis', 'teac', 'Pres', 'iden', 'Indi']

In [ ]:
#4th Answer

In [4]:
str2= "Dr. APJ Abdul Kalam was a scientist, teacher and the President of India."
string_pattern= r"\b\w{3,5}\b"
regex_pattern= re.compile(string_pattern)
result=regex_pattern.findall(str2)
print(result)

['APJ', 'Abdul', 'Kalam', 'was', 'and', 'the', 'India']

In [ ]:
#7th Answer

In [5]:
text="ImportanceOfRefularExpressionInPython"
pattern= "[A-Z][^A-Z]*"
result= re.findall(pattern,text)
print(result)

['Importance', 'Of', 'Refular', 'Expression', 'In', 'Python']

In [ ]:
#8th Answer

In [8]:
string= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern= r'(\d+)([A-Za-z]+)'
result= re.sub(pattern, r' \1\2', string)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [ ]:
#9th Answer

In [9]:
string= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern= r'(\d+)([A-Za-z]+)'
result= re.sub(pattern, r' \1 \2', string)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [ ]:
#23rd Answer

In [10]:
string= "RegularExpressionIsAnImportantTopicInPython"
pattern= r"(\w)([A-Z])"
result= re.sub(pattern, r"\1 \2", string)
print(result)

Regular Expression Is An Important Topic In Python

In [ ]:
#16th Answer

In [11]:
text= "The quick brown fox jumps over the lazy dog"
pattern= "fox"
result= re.search(pattern,text)
print(result)

<re.Match object; span=(16, 19), match='fox'>

In [ ]:
#5th Answer

In [12]:
texts=["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science Worlds)", "Data(Scientist)"]
string_pattern= r"[()]"
new_list=[]
regex_pattern= re.compile(string_pattern)
for text in texts:
    result= re.sub(regex_pattern,"", text)
    new_list.append(result)
print(new_list)

['example.com', 'hr@fliprobo.com', 'github.com', 'HelloData Science Worlds', 'DataScientist']

In [ ]:
#6th Answer

In [13]:
file=open("C:/Users/ASUS/Desktop/test1.txt",'r')
text=file.read()
newtext=re.sub('\([^()]*\)','',text)
print(newtext)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [14]:
#10 Answer

In [15]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df['first_five_letters']=df['Country'].apply(lambda m:m[:6])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [16]:
#11th Answer

In [17]:
target_string= "123ABCabcALPHANUMERIC_NUMBER"
pattern= '^[a-zA-z0-9_]*$'
if re.search(pattern,target_string):
    print("Matched!")
else:
    print("Not Matched!")

Matched!

In [18]:
#12th Answer

In [19]:
target_string= "123ABCabcALPHANUMERIC_NUMBER"
pattern= '[0-9]'
if re.match(pattern,target_string):
    print("Matched!")
else:
    print("Not Matched!")

Matched!

In [20]:
#13th Answer

In [21]:
ip= "045.06.023.345"
pattern= "[0]*"
result= re.sub(pattern, "", ip)
print(result)

45.6.23.345

In [22]:
#14th Answer

In [23]:
file=open('C:/Users/ASUS/Desktop/textfile.txt','r')
text=file.read()
print(text)
test="On August 15th 1947 the India was decalred independent from the British rule."
pattern= r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4}) \b"
result1= re.findall(pattern,test)
print(result1)

"On August 15th 1947 the India was decalred independent from the British rule."
['August 15th 1947']

In [24]:
#15th Answer

In [25]:
import regex as re
text= "The quick brown fox jumps over the lazy dog"
patterns= ['fox', 'dog', 'horse']
for x in patterns:
    result= re.search(x, text)
    print(result)

<regex.Match object; span=(16, 19), match='fox'>
<regex.Match object; span=(40, 43), match='dog'>
None

In [26]:
#17th Answer

In [27]:
textt= 'Python exercises, PHP exercises, C# exercises'
pattern1= 'exercises'
result= re.findall(pattern1,textt)
print(result)

['exercises', 'exercises', 'exercises']

In [28]:
#19th Answer

In [29]:
date="2024-02-04"
pattern= r'(\d{4})-(\d{1,2})-(\d{1,2})'
newdate=re.sub(pattern,'\\3-\\2-\\1',date)
print(newdate)

04-02-2024

In [30]:
#20th Answer

In [31]:
text= "01.32 0132.123 2.31546 145.8 3.01 27.25 0.25"
pattern= r"\d+\.\d{1,2}"
#regex_pattern= re.compile(pattern)
pattern= re.compile(pattern)
result= re.findall(pattern,text)
print(result)

['01.32', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [32]:
#21st Answer

In [33]:
target_string= "Emma ia basketball player who is playing at the age of 38 years is winning the matches continuously from 5 years."
result= re.finditer(r"\d+", target_string)
for match_object in result:
    print(match_object)

<regex.Match object; span=(55, 57), match='38'>
<regex.Match object; span=(105, 106), match='5'>

In [34]:
#22nd Answer

In [35]:
text= "947,896,524.734,888,747"
result= re.findall(r"\d+", text)
max_value=max(result)
print(max_value)

947

In [36]:
#25th Answer

In [37]:
text="Hello Hello world world"
pattern=r'\b(\w+)(?:\W\1\b)+'
result= re.sub(pattern, r'\1', text,)
print(result)

Hello world

In [38]:
#26th Answer

In [39]:
text='richa123'
pattern='[A-Za-z0-9]$'
if (re.search(pattern,text)):
    print("Accept")
else:
    print("Decline")

Accept

In [40]:
#27th Answer

In [41]:
text="RT @kapil_kaushik:#Doltiwal I mean #xyzabc is 'hurt' by #Demonetization as the same has rendered<ed>"
pattern=r'#\w+'
result= re.findall(pattern,text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [42]:
#28th Answer

In [43]:
text="@Jags123456 Bharat band on 28??<ed><U+00AO><U+00BD><ed><U+00B8><U+0082>Those who protest against the party"
pattern=r"<U\+\w{4}"
result= re.sub(pattern, "", text)
print(result)

@Jags123456 Bharat band on 28??<ed>>><ed>>>Those who protest against the party

In [44]:
#29th Answer

In [45]:
file=open("C:/Users/ASUS/Desktop/test2.txt",'r')
text=file.read()
print(text)
pattern= r'\d{2}-\d{2}-\d{4}'
result= re.findall(pattern,text)
print(result)

Ron was born on 11-02-1998 and he was admitted to school on 11-02-2000
['11-02-1998', '11-02-2000']

In [46]:
#30th Answer

In [47]:
text="The following example creates an ArrayList with a capacity of 50 elements,4 elements and are then added to the Arratlist and the Array list is trimmed accordingly."
pattern= (r"\b\w{2,4}\b")
regex_pattern= re.compile(pattern)
result= re.sub(regex_pattern, "", text)
print(result)

 following example creates  ArrayList  a capacity   elements,4 elements    added   Arratlist   Array   trimmed accordingly.

In [48]:
#18th Answer

In [55]:
text="Python exercises, PHP exercises, C# exercises"
pattern="exercises"
count=0
result= re.finditer(pattern,text)
for m in result:
    count+=1
    print(m)
print("number of occurances=", count)

<regex.Match object; span=(7, 16), match='exercises'>
<regex.Match object; span=(22, 31), match='exercises'>
<regex.Match object; span=(36, 45), match='exercises'>
number of occurances= 3

In [ ]:
#24th Answer

In [56]:
texts= 'The Lazy FOX jumps'
pattern='[A-Z][a-z]+'

result= re.findall(pattern,texts)
print(result)

['The', 'Lazy']